MQTT_HOST=3e87dd33d5184c218a8534b6a63bce96.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=seu_usuario_hivemq
MQTT_PASS=sua_senha_hivemq
MQTT_TLS=true
CORS_ORIGINS=https://seu-projeto.vercel.app,http://localhost:5173

# Para evidenciar teste com Mosquitto local:
# MQTT_HOST=localhost
# MQTT_PORT=1883
# MQTT_USER=
# MQTT_PASS=
# MQTT_TLS=false
